body {
    font-family: 'Oswald', sans-serif;
}

container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}

.main, .header, .footer {
    display: flex;
}

.header {
    height: 75px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 35px;
    padding-right: 35px;
    /*background-color: lightgray;*/
}

.header__today {
    height: 50px;
    border-top: solid 1px lightgray;
    /*border-bottom: solid 1px lightgray;*/
    text-align: center;
    margin-bottom: 10px;

}


.header__today-text {
    font-size: 1.5rem;
    margin:10px;
}

header__list-source {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.footer {
    height: 75px;
    justify-content: center;
    align-items: center;
}

.article {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 20px;
}

.articles {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
}

.class-0{
    display:none;
}

.pagination{
    display:flex;
    justify-content:center;
}


.mainArticle {
    display: flex;
    flex-direction: column;
    width: 63%;
    height: contain;
    margin-bottom: 20px;
}

.img {
    object-fit: cover;
    max-width: 360px;
    max-height: 225px;
}

.pagination__btn {
    border: solid 1px #cdcaca;
    margin: 10px 5px 10px 5px;
    padding: 5px 10px;
    border-radius: 3px;
    background: whitesmoke;
    text-decoration: none;
}


.pagination__btn:active{
    background:gray;
}

.pagination__btn:is(:hover){
    background:gray;
}

pagination__btn-active{
    background:gray;

}


.main-img {
    object-fit: cover;
    max-width: 100%;
}

.header__img {
    width: 250px;
    height: 50px;
}

.header__img-logo {
    width: 250px;
    height: 40px;
}

.header__icons {
    display: flex;
    justify-content: right;
    width: 250px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.articles__img {
    object-fit: cover;
    width: 300px;
    height: 200px;
    margin-right: 15px;
}

.articles__text {
    display: flex;
    flex-direction: column;
}

.title {
    padding-top: 10px;
    font-size: 1.5rem;
}

.articles__title {
    font-size: 1.5rem;
}

.content, .articles__content {
    padding-top: 10px;
}

.more, articles__more {
    padding-top: 10px;
}

.published, .articles__published {
    padding-top: 20px;
}

.header__icons-user {
    margin-right: 10px;
}
