@using BreakingNewsWeb.Models;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
@model User;
@{
    ViewBag.PageInfo = $"Login:";
}


< class="row">
   <div class="col-md-4 offset-md-4">
       <form id="createUser" asp-controller="Home" asp-action="CreateUser" method="post">
            <p>
                <label asp-for="Name" class="form-label mt-2">Name:</label>
                <input type="text" asp-for="Name" class="form-control" placeholder="Enter your Name">
                <span asp-validation-for="Name"></span>
            </p>
            <p>
                <label asp-for="Password" class="form-label mt-2">Password:</label>
                <input asp-for="Password" class="form-control" placeholder="Enter your password">
                <span form="createUser" asp-validation-for="Password"></span>
            </p>
            <p>
                <label asp-for="Email" class="form-label mt-2">Email:</label>
                <input asp-for="Email" class="form-control" placeholder="Enter your E-mail">
                <span form="createUser" asp-validation-for="Email"></span>
            </p>
            <p>
                <label asp-for="PhoneNumber" class="form-label mt-2">Phone Number:</label>
                <input type="text" asp-for="PhoneNumber" class="form-control" pattern="\+\d-\d{3}-\d{3}-\d{4}" placeholder="+1-234-567-8901">
                 <span form="createUser" asp-validation-for="PhoneNumber"></span>
            </p>
            <p>
                <label asp-for="PostalCode" class="form-label mt-2">Postal Code:</label>
                <input type="text" asp-for="PostalCode" class="form-control" placeholder="Enter your Postal code">
                <span form="createUser" asp-validation-for="PostalCode"></span>
            </p>
            <p>
                <label asp-for="Country" class="form-label mt-2">Country:</label>
                <input type="text" asp-for="Country" class="form-control" placeholder="Enter your Country">
                <span form="createUser" asp-validation-for="Country"></span>
            </p>
            <button class="btn btn-primary mt-3" >Create</button>
        </form>
   </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>
