@using BreakingNewsWeb.Controllers;
@using BreakingNewsWeb.Models;
@using BreakingNewsWeb.Services;

@model IEnumerable<Article>;

@{
}

<style>
    img
    {
        max-height: 100px;
    }
</style>

<section>
    <ul>
        @foreach (var article in Model)
        {
            <li>
                <img src="@article.UrlToImage"/>
                @article.Title
                
            </li>
        }
    </ul>
</section>
