@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>Login.cshtml</h1>
<div>
    <form method="post">
        <input type="text" name="username" placeholder="Type Username" />
        <input type="password" name="password" placeholder="Type Password" />
        <button class="btn btn-primary">Login</button>
    </form>
</div>



