<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Breaking News | @ViewBag.Title</title>
        <link rel="stylesheet" href="/css/Style.css"
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <container>
            <header class="header">
                <div>
                   <img class="img__header" src="/img/breakingnews.png" />
                </div>
                <div><a href="/Home/Index">Новости</a> | <a href="/Home/About">Статьи</a> | <a href="/Home/About">О нас</a></div>
            </header>
            <div class="main">
                @RenderBody()
            </div>
            <footer class="footer">
                Copyright© AndyKrause, @(DateTime.Now.Year). All rights reserved
            </footer>
        </container>
    </body>
</html>
